@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 50px;
  background-color: #ccc;
}

.container {
  margin: 100px 50px;
}